@CHARSET "UTF-8";

#grid{
    min-width:666px;
    display:grid;
    grid-template-rows:auto 10px auto 10px auto 10px auto 10px auto;
    grid-template-columns:auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto;
    margin:0px;
    padding:60px;
    background:silver;
    text-align:center;
}

#advertisement{
    height:111px;
    grid-area:1/1/2/20;
    background:lawngreen;
}

#filter{
    height:111px;
    grid-area:3/1/4/20;
    background:indianred;
}

#kiosk{
    height:999px;
    grid-area:5/1/8/20;
}

#heaven{
    height:50%;
    grid-row:5/6;
    display:grid;
    grid-template-columns:repeat(5, auto);
}

#earth{
    height:50%;
    grid-row:7/8;
    display:grid;
    grid-template-columns:repeat(6, auto);
}

#status{
    height:111px;
    grid-area:9/1/10/20;
    background:yellow;
}

.item{
    border:5px solid silver;
    background:deepskyblue;
    background-size:cover;
}

.item:hover{
    background:rosybrown;
}

#jia{
    background-image:url();
}

#yi{
    background-image:url();
}

#bing{
    background-image:url();
}

#ding{
    background-image:url();
}

#ww{
    background-image:url();
}

#ji{
    background-image:url();
}

#geng{
    background-image:url();
}

#xin{
    background-image:url();
}

#ren{
    background-image:url();
}

#gui{
    background-image:url();
}

#zi{
    background-image:url();
}

#chou{
    background-image:url();
}

#yin{
    background-image:url();
}

#mao{
    background-image:url();
}

#chen{
    background-image:url();
}

#si{
    background-image:url();
}

#wu{
    background-image:url();
}

#wei{
    background-image:url();
}

#shen{
    background-image:url();
}

#you{
    background-image:url();
}

#xu{
    background-image:url();
}

#hai{
    background-image:url();
}