@CHARSET "UTF-8";

a{
	text-decoration:none;
	color:#fff;
}

#background{
	background-color:silver;
	display:block;
}

#header{
	height:111px;
	margin-top:40px;
	margin-left:60px;
	margin-right:60px;
}

#mark{
	float:left;
}

#menu{
	float:right;
	font-size:31px;
	margin-top:17px;
}

#example{
	height:777px;
}

#footer{
	height:111px;
	text-align:center;
}

#friendship{
	height:90px;
}

#copyright{
	height:21px;
}
